@import "reset.css";
@import "flexslider.css";
@import "popups.css";
@import "jquery.nouislider.css";
@import "jquery.nouislider.pips.css";
@import "jquery.selecter.css";
@import "lightbox.css";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);

/* *** CMS *** */

.hidden {
	display: none;
}

.selectedLang-ru .en,
.selectedLang-en .ru,
.selectedCurrency-usd .uah,
.selectedCurrency-usd .rub,
.selectedCurrency-uah .usd,
.selectedCurrency-uah .rub,
.selectedCurrency-rub .usd,
.selectedCurrency-rub .uah {
	display: none;
}

/* *** BASIC *** */
* { outline: none; resize: none }
body { margin: 0; background: #ffffff }
section, header, footer { width: 100%; margin: 0; float: left; }
section .block, header .block, footer .block { width: 980px; margin: 0 auto; }
.clear { clear: both; }
.selecter-box { float: left; }

/* *** HR *** */
.section-hr .block { height: 1px; background: #000000; }
.section-hr.gray .block { background: #b2b2b2; }

/* *** TOP LINE *** */
.top-line { background: #000000; }
.top-line ul { float: right; margin: 0 0 0 46px; }
.top-line ul li { float: left; margin: 0 0 0 8px; color: #ffffff; font: 400 9.75pt Roboto; height: 20px; line-height: 20px; }
.top-line ul li a { color: #848484; text-decoration: none; display: inline-block; }
.top-line ul li a:hover, .top-line ul li a.active { color: #ffffff; }
.top-line .login-ul li a { color: #ffffff; text-decoration: underline; }
.top-line .login-ul li a:hover { text-decoration: none; }
.top-line .login-ul li a.login { color: #ffffff; border-bottom: 1px dotted #ffffff; text-decoration: none; height: 15px; line-height: 16px; }
.top-line .login-ul li a.login:hover { border: none; }

/* *** HEADER *** */
header .logo-box { float: left; height: 150px; line-height: 150px; }
header .logo-box .logo { display: inline-block; background: url(../img/logo.png) no-repeat 0 0; width: 153px; height: 53px; vertical-align: middle; line-height: normal; }
header .search-box { float: left; height: 150px; line-height: 150px; margin: 0 0 0 40px; }
header .search-box .search { display: inline-block; vertical-align: middle; line-height: normal; position: relative; }
header .search-box .search input { width: 288px; height: 29px; border: 1px solid #535353; border-radius: 29px; padding: 0 36px; color: #949494; font: 400 9.75pt Roboto; }
header .search-box .search button { display: block; width: 16px; height: 16px; border: none; cursor: pointer; position: absolute; right: 13px; top: 7px; background: url(../img/icons/search-icon.png) no-repeat 0 0; }
header .search-box .search button:hover, header .search-box .search .clean:hover { opacity: 0.5; }
header .search-box .search .clean { display: block; width: 16px; height: 16px; border: none; cursor: pointer; position: absolute; left: 7px; top: 7px; background: url(../img/icons/clean-icon.png) no-repeat 0 0; }
header .phones-box { float: left; height: 150px; line-height: 150px; margin: 0 0 0 30px; }
header .phones-box .phones { color: #000000; font: 300 13.5pt Roboto; text-align: right; display: inline-block; vertical-align: middle; line-height: 22.5pt; }
header .cart-box { float: right; height: 150px; line-height: 150px; }
header .cart-box .cart { display: inline-block; vertical-align: middle; line-height: 6pt; text-align: center; }
header .cart-box .cart a { display: block; color: #000000; font: 400 10.5pt Roboto; position: relative; text-decoration: none; text-transform: uppercase; padding: 0 13px 0 37px; border: 1px solid rgba(244, 78, 105, 0.35); border-radius: 30px; height: 30px; line-height: 30px; }
header .cart-box .cart a:before { display: block; position: absolute; width: 19px; left: 12px; top: 3px; height: 21px; background: url(../img/icons/cart-icon.png) no-repeat 0 0; content: ""; }
header .cart-box .cart a:hover { background: rgba(252, 31, 117, 0.17); border-color: rgb(244, 78, 105); }
header .cart-box .cart a:active { background: rgba(252, 31, 117, 0.17); border-color: rgb(244, 78, 105); color: #ffffff; }
header .cart-box .cart a:active:before { background-position: 0 -21px; }
header .cart-box .cart p { font: 400 9pt Roboto; }

/* *** TOP MENU *** */
.top-menu ul { width: 920px; padding: 0 30px; float: left; text-align: center; height: 35px; line-height: 35px; }
.top-menu ul li a { display: inline-block; padding: 0 25px; float: left; font: 400 10.5pt Roboto; text-transform: uppercase; text-decoration: none; color: #010101; height: 35px; line-height: 35px; }
.top-menu ul li a:hover { color: #ffffff; background: #000000; }

/* *** TOP SLIDEr *** */
.top-slider { margin: 0 0 60px; }
.top-slider .slider { width: 100%; float: left; height: 422px; position: relative; }
.top-slider .slider .item { width: 980px; height: 422px; position: relative; }
.top-slider .slider .item .t { position: absolute; font: 400 11pt Roboto; right: 50px; }
.top-slider .slider .item .btn { display: block; position: absolute; right: 50px; bottom: 35px; border: 1px solid #000000; border-radius: 50px; color: #000000; font: 400 13.5pt Roboto; text-transform: uppercase; text-decoration: none; padding: 0 30px; height: 50px; line-height: 50px; }
.top-slider .slider .item .btn:hover { background: #ffffff; border-color: #ffffff; }
.top-slider .slider .item .btn:active { background: #d6d6d6; border-color: #d6d6d6; }

/* *** CONTENT *** */
.content { margin: 28px 0 0 0; }
.content .leftSide { width: 223px; float: left; }
.content .leftSide .items { width: 100%; float: left; }
.content .leftSide .items > li { float: left; margin: 0 0 18px; }
.content .leftSide .items > li > a { float: left; display: block; padding: 0 6px; font: 400 11.25pt Roboto; text-transform: uppercase; background: #f0f0f0; height: 28px; line-height: 28px; color: #000000; }
.content .leftSide .items > li.active > a, .content .leftSide .items > li > a:hover { text-decoration: none; }
.content .leftSide .items > li ul { display: none; margin: 0 0 0 18px; width: 200px; float: left; }
.content .leftSide .items > li.active ul { display: block; }
.content .leftSide .items > li ul li { width: 100%; float: left; margin: 8px 0 0; }
.content .leftSide .items > li ul li a { display: block; padding: 0 8px; color: #000000; font: 400 10.5pt Roboto; height: 28px; line-height: 28px; text-decoration: none; float: left; }
.content .leftSide .items > li ul li a:hover, .content .leftSide .items > li ul li.active a { color: #ffffff; background: #505050; font-weight: 700; }
.content .leftSide .more-setting { width: 100%; float: left; margin: 30px 0 0 0; width: 201px; padding: 8px 10px; border: 1px solid #cccccc; }
.content .leftSide .more-setting .head { width: 100%; float: left; margin: 0 0 28px; font: 400 11.25pt Roboto; text-transform: uppercase; }
.content .leftSide .more-setting .item { width: 100%; float: left; margin: 0 0 20px; }
.content .leftSide .more-setting .item .h { float: left; font: 400 10.5pt Roboto; border-bottom: 1px dotted #000000; cursor: pointer; }
.content .leftSide .more-setting .item .h:hover { border-bottom: none; padding: 0 0 1px; }
.content .leftSide .more-setting .item .key { display: block; float: left; width: 12px; height: 5px; margin: 10px 0 0 6px; background: url(../img/down-up.png) no-repeat 0 0; }
.content .leftSide .more-setting .item.active .key { background-position: 0 -5px; }
.content .leftSide .more-setting .item .content { float: left; margin: 10px 0 0; display: none; width: 100%; }
.content .leftSide .more-setting .item.active .content { display: block; }
.content .leftSide .more-setting .item .content .li { width: 100%; float: left; margin: 10px 0 0; }
.content .leftSide .more-setting .item .content .li label { float: left; color: #000000; font: 400 9pt Tahoma; height: 12px; line-height: 12px; cursor: pointer; }
.content .leftSide .more-setting .item .content .li input[type="checkbox"] + label::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 10px -2px 0;
  background: url(../img/checkbox.png) no-repeat 0 0;
}
.content .leftSide .more-setting .item .content .li input[type="checkbox"]:checked + label::before {
  background-position: 0 -12px;
}
.content .leftSide .more-setting .item .content .inputs { width: 100%; float: left; }
.content .leftSide .more-setting .item .content .inputs input { width: 53px; height: 27px; border: 1px solid #000002; padding: 0 6px; font: 400 9.75pt Roboto; float: left; }
.content .leftSide .more-setting .item .content .inputs div { float: left; font: 400 9.75pt Roboto; height: 29px; line-height: 29px; margin: 0 5px; }
.content .leftSide .more-setting .item .content .slider { width: 96%; float: left; margin: 22px 0 40px 0; height: 4px; }
.content .leftSide .more-setting .item .content .slider .noUi-marker { display: none; }
.content .leftSide .more-setting .item .content .slider .noUi-value { padding: 0; color: #636363; font: 400 7.5pt Tahoma; }
.content .leftSide .more-setting .item .content .slider .noUi-origin { background: #000000; }
.content .leftSide .more-setting .item .content .slider .noUi-origin:nth-child(2) { background: #dedede; }

.content .leftSide .tabs { width: 100%; float: left; margin: 60px 0 0 0; }
.content .leftSide .tabs .tabs-head { width: 100%; float: left; border-bottom: 1px solid #7f7f7f; }
.content .leftSide .tabs .tabs-head a { display: block; width: 34px; height: 35px; margin-bottom: -1px; float: left; background: url(..) no-repeat center center; border: 1px solid transparent; border-bottom: none; }
.content .leftSide .tabs .tabs-head a.vk { background-image: url(../img/icons/vk-icon.png); }
.content .leftSide .tabs .tabs-head a.ok { background-image: url(../img/icons/ok-icon.png); }
.content .leftSide .tabs .tabs-head a.fb { background-image: url(../img/icons/fb-icon.png); }
.content .leftSide .tabs .tabs-head a.active { border-color: #7f7f7f; background-color: #ffffff; }
.content .leftSide .tabs .tabs-content { width: 100%; float: left; margin: 20px 0 0 0; }
.content .leftSide .tabs .tabs-content .tab { width: 223px; float: left; display: none; }
.content .leftSide .tabs .tabs-content .tab.active { display: block; }

.content .rightSide { width: 730px; float: right; }
.content .rightSide .breadcrumbs { width: 100%; float: left; margin: 5px 0 26px; }
.content .rightSide .breadcrumbs li { float: left; margin: 0 12px 0 0; color: #949494; font: 400 9.75pt Tahoma; }
.content .rightSide .breadcrumbs li a { color: #949494; }
.content .rightSide .breadcrumbs li a:hover { text-decoration: none; }
.content .rightSide .title { width: 100%; float: left; margin: 0 0 18px; }
.content .rightSide .title > span { float: left; font: 400 18pt Roboto; text-transform: uppercase; }
.content .rightSide .title .box { float: right; margin: 6px 0 0 20px; }
.content .rightSide .title .box label { float: left; font: 400 9pt Tahoma; height: 20px; line-height: 20px; margin: 0 6px; 0 0; }
.content .rightSide hr { width: 100%; float: left; height: 1px; background: #000000; border: none; }

.content .rightSide .items { width: 100%; float: left; margin: 40px 0 0 0; }
.content .rightSide .items .item { width: 169px; float: left; margin: 0 0 0 18px; position: relative; height: 340px; }
.content .rightSide .items .item:nth-child(4n-3) { margin-left: 0; }
.content .rightSide .items .item .box { padding: 14px; position: absolute; z-index: 2; right: -15px; top: -15px; border: 1px solid #000000; background: #ffffff; display: none; }
.content .rightSide .items .item .img { width: 169px; height: 233px; float: left; position: relative; }
.content .rightSide .items .item .img img { max-width: 169px; max-height: 233px; vertical-align: bottom; }
.content .rightSide .items .item .name { text-decoration: none; width: 100%; float: left; margin: 14px 0; text-align: center; font: 400 9pt Roboto; line-height: 12pt; float: left; color: #000000; }
.content .rightSide .items .item .colors { text-align: center; width: 100%; float: left; margin: 0 0 10px; }
.content .rightSide .items .item .colors img { display: inline-block; margin: 0 2px; }
.content .rightSide .items .item .price { color: #494949; font: 700 10.5pt Roboto; text-align: center; width: 100%; float: left; }
.content .rightSide .items .item .sizes { width: 100%; float: left; margin: 14px 0 0 0; text-align: center; color: #000000; font: 400 9pt Roboto; }
.content .rightSide .items .item:hover .box { display: block; }
.content .rightSide .items .item:hover .img { z-index: 3; }
.content .rightSide .items .item .box .imgs { width: 216px; float: left; min-height: 233px; }
.content .rightSide .items .item .box .imgs .left { float: left; }
.content .rightSide .items .item .box .imgs .left img { width: 38px; height: 51px; border: 1px solid transparent; float: left; margin: 0 0 7px; cursor: pointer; }
.content .rightSide .items .item .box .imgs .left img.active { border-color: #000000; }
.content .rightSide .items .item .box .imgs .img { float: right; }

.content .rightSide .bottom-line { width: 100%; float: left; margin: 30px 0 0 0; }
.content .rightSide .bottom-line .pagination { float: left; }
.content .rightSide .bottom-line .pagination li { float: left; }
.content .rightSide .bottom-line .pagination a { color: #000000; font: 300 12pt Roboto; display: block; float: left; padding: 0 9px; height: 25px; line-height: 25px; }
.content .rightSide .bottom-line .pagination a.active { background: rgba(80, 80, 80, 0.9); color: #ffffff; }
.content .rightSide .bottom-line .pagination a::hover { text-decoration: none; }
.content .rightSide .bottom-line .pagination .prev { width: 10px; height: 17px; margin: 5px 6px 3px 0; background: url(../img/pagination-cl.png) no-repeat 0 0; padding: 0; }
.content .rightSide .bottom-line .pagination .next { width: 10px; height: 17px; margin: 5px 0 3px 6px; background: url(../img/pagination-cl.png) no-repeat -10px 0; padding: 0; }
.content .rightSide .bottom-line .pagination .prev:hover, .content .rightSide .bottom-line .pagination .next:hover { opacity: 0.5; }
.content .rightSide .bottom-line .box { float: right; margin: 6px 0 0 20px; }
.content .rightSide .bottom-line .box label { float: left; font: 400 9pt Tahoma; height: 20px; line-height: 20px; margin: 0 6px; 0 0; }

.prod-content { width: 100%; float: left; margin: 26px 0 56px; }
.prod-content .left { width: 295px; float: left; }
.prod-content .left .img { width: 295px; height: 391px; float: left; position: relative; }
.prod-content .left .img .zoom { width: 52px; height: 52px; display: block; position: absolute; right: 7px; top: 7px; border-radius: 52px; background: rgba(255, 255, 255, 0.5) url(../img/icons/look-icon.png) no-repeat center center; }
.prod-content .left .img .zoom:hover { background-color: #ffffff; }
.prod-content .left .imgs { width: 100%; float: left; margin: 24px 0 0 0; }
.prod-content .left .imgs img { width: 46px; height: 62px; float: left; border: 1px solid #ffffff; margin: 0 13px 0 0; }
.prod-content .left .imgs img:last-child { margin: 0; }
.prod-content .left .imgs img.active { border-color: #000000; }
.prod-content .left .links { width: 100%; float: left; margin: 30px 0 14px; }
.prod-content .left .links li { float: left; width: 100%; margin: 0 0 10px; }
.prod-content .left .links li a { color: #636363; font: 500 9.75pt Roboto; }
.prod-content .left .links li a:hover { text-decoration: none; }
.prod-content .left .links li.more a { text-transform: uppercase; color: #000000; }
.prod-content .left .partner { float: left; margin: 20px 0 0; width: 145px; height: 56px; color: #000000; }
.prod-content .left .partner .t1 { float: left; font: 400 10.5pt Roboto; line-height: 10.5pt; margin: 4px 0 0 10px; }
.prod-content .left .partner .t2 { float: left; font: 400 22.5pt Roboto Condensed; line-height: 22.5pt; margin: 4px 0 0 4px; }
.prod-content .left .partner a { float: left; font: 400 9.75pt Roboto; color: #000000; margin: 2px 0 0 10px; }
.prod-content .left .partner a:hover { text-decoration: none; }
.prod-content .left .partner:hover { background: url(../img/baner4.png) no-repeat 0 0; color: #ffffff; }
.prod-content .left .partner:hover a { color: #ffffff; }
.prod-content .right { width: 397px; float: right; }
.prod-content .right .head { width: 100%; float: left; margin: -6px 0 16px; font: 500 15pt Roboto; }
.prod-content .right .info { width: 100%; float: left; margin: 0 0 16px; }
.prod-content .right .info .i1 { float: left; font: 400 9pt Tahoma; line-height: 15pt; }
.prod-content .right .info .i1 span { color: #949494; }
.prod-content .right .info .price { float: right; font: 500 19.5pt Roboto; line-height: 22.5pt; }
.prod-content .right .info .price span { font-size: 24pt; }
.prod-content .right .row { width: 100%; float: left; margin: 0 0 24px; }
.prod-content .right .row .head { width: 100%; float: left; margin: 0 0 14px; font: 700 9pt Tahoma; }
.prod-content .right .row.big .head { font-size: 12pt; }
.prod-content .right .row img { border: 1px solid #ffffff; float: left; margin: 0 14px 0 0; cursor: pointer; }
.prod-content .right .row img.active { border-color: #000000; }
.prod-content .right .sizes { width: 100%; float: left; margin: 10px 0 14px; }
.prod-content .right .sizes .data { float: left; margin: 0 0 15px; }
.prod-content .right .sizes .item { width: 24px; float: left; margin: 0 12px 0 0; }
.prod-content .right .sizes .item a { display: block; width: 24px; text-decoration: none; text-align: center; background: #dedede; color: #000000; font: 700 11.25pt Roboto; height: 24px; line-height: 24px; }
.prod-content .right .sizes .item a:hover, .prod-content .right .sizes .item.active a { background: #505050; color: #ffffff; }
.prod-content .right .sizes .item .counter { float: left; margin: 16px 0 0 0; }
.prod-content .right .sizes .item .counter span { width: 24px; height: 5px; float: left; background: url(../img/sizes-cl.png) no-repeat center 0; cursor: pointer; }
.prod-content .right .sizes .item .counter span.down { background-position: center -5px; }
.prod-content .right .sizes .item .counter span:hover { opacity: 0.5; }
.prod-content .right .sizes .item .counter input { width: 22px; height: 15px; border: 1px solid #cccccc; text-align: center; font: 400 9.75pt Roboto; margin: 4px 0; }
.prod-content .right .sizes .item.active .counter input { border-color: #7f7f7f; }
.prod-content .right .sizes .btn { margin: 40px 0 0 0; float: right; width: 140px; height: 36px; display: block; background: url(../img/add-to-cart.png) no-repeat 0 0; }
.prod-content .right .sizes .btn:hover { background-position: 0 -36px; }
.prod-content .right .sizes .btn:active { background-position: 0 -72px; }
.prod-content .right .sizes .know { float: left; font: 400 10.5pt Tahoma; color: #000000; text-decoration: none; border-bottom: 1px dotted #000000; }
.prod-content .right .sizes .know:hover { border: none; padding: 0 0 1px; }
.prod-content .right .tabs { width: 100%; float: left; margin: 40px 0 0 0; }
.prod-content .right .tabs .tabs-head { width: 100%; float: left; border-bottom: 1px solid #7f7f7f; }
.prod-content .right .tabs .tabs-head a { display: block; float: left; color: #000000; text-decoration: none; font: 500 10.5pt Roboto; border: 1px solid #ffffff; border-bottom: none; width: 97px; text-align: center; height: 41px; line-height: 41px; background: #e8e8e8; }
.prod-content .right .tabs .tabs-head a:last-child { width: 99px; margin: 0 -1px 0 0; }
.prod-content .right .tabs .tabs-head a.active { border-color: #7f7f7f; padding-bottom: 1px; margin-bottom: -1px; background: #ffffff; }
.prod-content .right .tabs .tabs-content { width: 100%; float: left; margin: 26px 0 0 0; }
.prod-content .right .tabs .tabs-content .tab { width: 100%; float: left; display: none; }
.prod-content .right .tabs .tabs-content .tab.active { display: block; }
.prod-content .right .tabs .tabs-content p { width: 100%; float: left; margin: 0 0 20px; font: 400 9pt Roboto; line-height: 16.5pt; }
.prod-content .right .tabs .tabs-content table { float: left; }
.prod-content .right .tabs .tabs-content table td { border-bottom: 1px solid #e5e5e5; padding: 0 20px; font: 400 9.75pt Roboto; height: 30px; line-height: 30px; }
.prod-content .right .tabs .tabs-content table td:first-child { padding-left: 0; border-right: 1px solid #b2b2b3; }
.prod-content .right .tabs .tabs-content table tr:last-child td { border-bottom: none; }

.content .rightSide .buy-also { width: 100%; float: left; margin: 15px 0 40px; position: relative; }
.content .rightSide .buy-also .head { width: 100%; float: left; margin: 0 0 30px; font: 400 18pt Roboto; }
.content .rightSide .buy-also .slider { width: 100%; float: left; position: relative; }
.content .rightSide .buy-also .slider .item { width: 126px; }
.content .rightSide .buy-also .slider .item .img { width: 126px; height: 173px; float: left; }
.content .rightSide .buy-also .slider .item .img img { max-width: 126px; max-height: 173px; vertical-align: bottom; }
.content .rightSide .buy-also .slider .item a { width: 100%; float: left; margin: 14px 0; text-align: center; font: 400 9pt Roboto; line-height: 12pt; float: left; color: #000000; }
.content .rightSide .buy-also .slider .item a:hover { text-decoration: none; }
.content .rightSide .buy-also .slider .item .price { color: #494949; font: 700 10.5pt Roboto; text-align: center; width: 100%; float: left; }
.content .rightSide .buy-also .slider .flex-direction-nav a { width: 12px; height: 44px; background: url(../img/slider-cl.png) no-repeat 0 0; }
.content .rightSide .buy-also .slider .flex-direction-nav a:hover { opacity: 0.5; }
.content .rightSide .buy-also .slider .flex-direction-nav .flex-prev { left: -26px; }
.content .rightSide .buy-also .slider .flex-direction-nav .flex-next { right: -26px; background-position: -12px 0; }

.content .rightSide .comments { padding: 10px; width: 710px; float: left; background: #f2f2f2; }
.content .rightSide .sub-title { width: 100%; float: left; margin: 0 0 30px; font: 400 18pt Roboto; }
.content .rightSide .comments .item { width: 100%; float: left; margin: 0 0 36px; }
.content .rightSide .comments .item .name { width: 100%; float: left; margin: 0 0 10px; font: 400 11.25pt Tahoma; }
.content .rightSide .comments .item .date { width: 100%; float: left; margin: 0 0 6px; font: 400 9.75pt Tahoma; color: #888888; }
.content .rightSide .comments .item .text { width: 100%; float: left; font: 400 9pt Tahoma; line-height: 15pt; }
.content .rightSide .comments .t { float: left; font: 400 10.5pt Tahoma; line-height: 15pt; }
.content .rightSide .comments .btn { margin: 0 0 0 26px; float: left; font: 400 16pt Roboto; border: 1px solid #000000; border-radius: 40px; text-transform: uppercase; text-decoration: none; color: #000000; display: block; height: 40px; line-height: 40px; padding: 0 14px; }
.content .rightSide .comments .btn:hover { background: #898989; color: #ffffff; }
.content .rightSide .comments .btn:active { background: #000000; color: #ffffff; }

/* *** INFO ITEMS *** */
.info-items .item { float: left; width: 317px; margin: 0 0 0 14px; height: 198px; color: #000000; }
.info-items .item a { color: #000000; background-position: 0 -52px; }
.info-items .item:first-child { margin: 0; }
.info-items .item1 .t1 { width: 100%; float: left; text-align: center; font: 300 15pt Roboto; line-height: 15pt; margin: 14px 0 0 0; }
.info-items .item1 .t2 { width: 100%; float: left; text-align: center; font: 300 18pt Roboto; line-height: 18pt; text-transform: uppercase; margin: 8px 0 0 0; }
.info-items .item1 .t3 { width: 100%; float: left; text-align: center; font: 300 11.25pt Roboto; line-height: 36pt; margin: 22px 0 0 0; }
.info-items .item1 .t3 span { font-size: 36pt; font-weight: 100; }
.info-items .item1 .more { width: 100%; float: left; text-align: center; font: 300 10.5pt Roboto; line-height: 10.5pt; margin: 22px 0 0 0; }
.info-items .item1 .more a:hover { text-decoration: none; }
.info-items .item2 .t1 { width: 100%; float: left; text-align: center; font: 300 15pt Roboto; line-height: 15pt; margin: 14px 0 0 0; }
.info-items .item2 .t2 { width: 100%; float: left; text-align: center; font: 300 18pt Roboto; line-height: 18pt; text-transform: uppercase; margin: 8px 0 0 0; }
.info-items .item2 .t3 { width: 100%; float: left; text-align: center; font: 300 11.25pt Roboto; line-height: 36pt; margin: 14px 0 0 0; }
.info-items .item2 .t3 span { font-size: 36pt; font-weight: 100; }
.info-items .item2 .more { width: 100%; float: left; text-align: center; font: 300 10.5pt Roboto; line-height: 10.5pt; margin: 6px 0 0 0; }
.info-items .item2 .more a:hover { text-decoration: none; }
.info-items .item3 .t1 { width: 100%; float: left; text-align: center; font: 300 15pt Roboto; line-height: 15pt; margin: 14px 0 0 0; }
.info-items .item3 .t2 { width: 100%; float: left; text-align: center; font: 300 18pt Roboto; line-height: 18pt; text-transform: uppercase; margin: 16px 0 0 0; }
.info-items .item3 .soc { width: 100%; float: left; text-align: center; margin: 14px 0 0 0; height: 52px; }
.info-items .item3 .soc a { display: inline-block; margin: 0 4px; width: 52px; height: 52px; }
.info-items .item3 .soc a.vk { background: url(../img/icons/vk-icon-2.png) no-repeat 0 0; }
.info-items .item3 .soc a.fb { background: url(../img/icons/fb-icon-2.png) no-repeat 0 0; }
.info-items .item3 .more { width: 100%; float: left; text-align: center; font: 300 10.5pt Roboto; line-height: 10.5pt; margin: 26px 0 0 0; }
.info-items .item3 .more a:hover { text-decoration: none; }
.info-items .item:hover, .info-items .item:hover a { color: #ffffff; }
.info-items .item:hover .soc a { color: #ffffff; background-position: 0 -52px; }
.info-items .item1:hover { background: url(../img/baner1.png) no-repeat 0 0; }
.info-items .item2:hover { background: url(../img/baner2.png) no-repeat 0 0; }
.info-items .item3:hover { background: url(../img/baner3.png) no-repeat 0 0; }

/* *** NEW ITEMS *** */
.new-items { padding: 40px 0; }
.new-items .head { width: 100%; float: left; margin: 0 0 26px; font: 400 18pt Roboto; text-transform: uppercase; text-align: center; }
.new-items .slider { width: 100%; float: left; position: relative; }
.new-items .slider .item { width: 169px; }
.new-items .slider .item .img { width: 169px; height: 233px; float: left; }
.new-items .slider .item .img img { max-width: 169px; max-height: 233px; vertical-align: bottom; }
.new-items .slider .item a { width: 100%; float: left; margin: 14px 0; text-align: center; font: 400 9pt Roboto; line-height: 12pt; float: left; color: #000000; }
.new-items .slider .item a:hover { text-decoration: none; }
.new-items .slider .item .price { color: #494949; font: 700 10.5pt Roboto; text-align: center; width: 100%; float: left; }
.new-items .slider .flex-direction-nav a { width: 12px; height: 44px; background: url(../img/slider-cl.png) no-repeat 0 0; }
.new-items .slider .flex-direction-nav a:hover { opacity: 0.5; }
.new-items .slider .flex-direction-nav .flex-prev { left: -26px; }
.new-items .slider .flex-direction-nav .flex-next { right: -26px; background-position: -12px 0; }

/* *** SUBSCRIBE *** */
.subscribe { margin: 20px 0 0 0; }
.subscribe .block { height: 180px; background: url(../img/subscribe.png) no-repeat 0 0; }
.subscribe .head { width: 100%; float: left; margin: 34px 0 20px; font: 300 22.5pt Roboto; color: #ffffff; text-transform: uppercase; text-align: center; }
.subscribe .text { float: left; font: 300 13.5pt Roboto; color: #ffffff; line-height: 19.5pt; margin: 0 0 0 18px; }
.subscribe .item { float: left; margin: 8px 0 0 36px; }
.subscribe .item input { width: 185px; height: 30px; padding: 0 14px; border: 1px solid #ffffff; border-radius: 30px; background: transparent; color: #ffffff; font: 400 12pt Roboto; }
.subscribe button { float: left; margin: 8px 0 0 30px; height: 30px; border-radius: 30px; cursor: pointer; font: 300 12pt Roboto; padding: 0 20px; color: #ffffff; border: 1px solid #d44f68; background: rgba(212, 78, 105, 0.36); }
.subscribe button:hover { background: rgba(191, 54, 77, 0.65); }
.subscribe button:active { background: rgba(171, 15, 41, 0.65); }

/* *** POPULAR ITEMS *** */
.popular-items { padding: 40px 0; }
.popular-items .head { width: 100%; float: left; margin: 0 0 26px; font: 400 18pt Roboto; text-transform: uppercase; text-align: center; }
.popular-items .slider { width: 100%; float: left; position: relative; }
.popular-items .slider .item { width: 169px; }
.popular-items .slider .item .img { width: 169px; height: 233px; float: left; }
.popular-items .slider .item .img img { max-width: 169px; max-height: 233px; vertical-align: bottom; }
.popular-items .slider .item a { width: 100%; float: left; margin: 14px 0; text-align: center; font: 400 9pt Roboto; line-height: 12pt; float: left; color: #000000; }
.popular-items .slider .item a:hover { text-decoration: none; }
.popular-items .slider .item .price { color: #494949; font: 700 10.5pt Roboto; text-align: center; width: 100%; float: left; }
.popular-items .slider .flex-direction-nav a { width: 12px; height: 44px; background: url(../img/slider-cl.png) no-repeat 0 0; }
.popular-items .slider .flex-direction-nav a:hover { opacity: 0.5; }
.popular-items .slider .flex-direction-nav .flex-prev { left: -26px; }
.popular-items .slider .flex-direction-nav .flex-next { right: -26px; background-position: -12px 0; }

/* *** BOTTOM ACTION *** */
.bottom-action .block { height: 245px; background: url(../img/bottom-action.png) no-repeat 0 0; }
.bottom-action .block .t1 { width: 100%; float: left; font: 700 27pt Roboto; color: #ffffff; text-transform: uppercase; line-height: 27pt; margin: 38px 0 0 0; text-align: center; }
.bottom-action .block .t2 { width: 100%; float: left; font: 300 27pt Roboto; color: #ffffff; text-transform: uppercase; line-height: 27pt; margin: 14px 0 0 0; text-align: center; }
.bottom-action .block .t2 span { font: 100 45pt Roboto; }
.bottom-action .block .t3 { float: left; font: 100 18pt Roboto; color: #ffffff; text-transform: uppercase; line-height: 18pt; height: 50px; line-height: 50px; margin: 0 0 0 218px; color: #ffffff; }
.bottom-action .block .btn { display: block; margin: 0 0 0 26px; float: left; border: 1px solid #ffffff; border-radius: 50px; color: #ffffff; font: 400 13.5pt Roboto; text-transform: uppercase; text-decoration: none; padding: 0 30px; height: 50px; line-height: 50px; }
.bottom-action .block .btn:hover { background: #ffffff; border-color: #ffffff; color: #000000; }
.bottom-action .block .btn:active { background: #d6d6d6; border-color: #d6d6d6; color: #000000; }

/* *** LINKS BOX *** */
.links-box { margin: 38px 0; }
.links-box .links { float: left; margin: 0 0 0 60px; }
.links-box .links:first-child { margin-left: 0; }
.links-box .links .head { float: left; font: 400 12.75pt Roboto; text-transform: uppercase; margin: 0 0 18px; }
.links-box .links ul li { margin: 0 0 6px; }
.links-box .links ul li a { color: #767676; font: 300 9pt Roboto; }
.links-box .links ul li a:hover { text-decoration: none; }
.links-box .contacts { float: left; margin: 0 0 0 60px; }
.links-box .contacts .head { float: left; font: 400 12.75pt Roboto; text-transform: uppercase; margin: 0 0 18px; }
.links-box .contacts .phones { float: left; position: relative; font: 300 12pt Roboto; line-height: 18pt; }
.links-box .contacts .phones:before { display: block; content: ""; width: 18px; height: 18px; background: url(../img/icons/phone-icon.png) no-repeat 0 0; position: absolute; left: -22px; top: 2px; }
.links-box .contacts .email { float: left; margin: 12px 0; position: relative; }
.links-box .contacts .email:before { width: 12px; height: 8px; display: block; content: ""; position: absolute; left: -20px; top: 6px; background: url(../img/icons/email-icon.png) no-repeat 0 0; }
.links-box .contacts .email a { color: #000000; font: 300 9pt Tahoma; }
.links-box .contacts .email a:hover { text-decoration: none; }
.links-box .contacts .all { color: #000000; font: 300 9pt Tahoma; }
.links-box .contacts .all:hover { text-decoration: none; }
.links-box .group { float: right; }
.links-box .group .head { float: left; font: 400 12.75pt Roboto; text-transform: uppercase; margin: 0 0 18px; }

/* *** PARTNERS *** */
.partners { padding: 20px 0; }
.partners .head { width: 100%; float: left; margin: 0 0 26px; font: 400 12.75pt Roboto; text-transform: uppercase; text-align: center; }
.partners .items { width: 100%; float: left; text-align: center; }
.partners .items img { margin: 0 5px; }

/* *** FOOTER *** */
footer .block { font: 300 9pt Roboto; color: rgba(22, 22, 22, 0.7); height: 60px; line-height: 60px; text-align: center; }

/* *** POPUPS *** */
body > .popup { display: none; }
.popup { overflow: hidden; margin: 0 auto; position: relative; background: #ffffff; }
.popup.test { position: absolute; top: 100px; left: 100px; z-index: 1000; display: block; }
.popup .head { width: 100%; float: left; text-align: center; font: 500 19.5pt Roboto; margin: 0 0 25px; }
.popup .mfp-close { width: 12px; height: 12px; background: url(../img/close.png) no-repeat 0 0; cursor: pointer; }

#item-popup { padding: 60px; width: 876px; }
#item-popup .left { width: 430px; float: left; position: relative; }
#item-popup .left .zoom { width: 52px; height: 52px; display: block; position: absolute; right: 7px; top: 7px; border-radius: 52px; background: rgba(255, 255, 255, 0.5) url(../img/icons/look-icon.png) no-repeat center center; }
#item-popup .left .zoom:hover { background-color: #ffffff; }
#item-popup .right { width: 400px; float: right; margin: -4px 0 0 0; }
#item-popup .right .head { text-align: left; }
#item-popup .right .info { width: 100%; float: left; margin: 0 0 16px; }
#item-popup .right .info .i1 { float: left; font: 400 9pt Tahoma; line-height: 15pt; }
#item-popup .right .info .i1 span { color: #949494; }
#item-popup .right .info .price { float: right; font: 500 19.5pt Roboto; line-height: 22.5pt; }
#item-popup .right .info .price span { font-size: 24pt; }
#item-popup .right .row { width: 100%; float: left; margin: 0 0 24px; }
#item-popup .right .row .head { width: 100%; float: left; margin: 0 0 14px; font: 700 9pt Tahoma; }
#item-popup .right .row.big .head { font-size: 12pt; }
#item-popup .right .row img { border: 1px solid #ffffff; float: left; margin: 0 14px 0 0; cursor: pointer; }
#item-popup .right .row img.active { border-color: #000000; }
#item-popup .right .links { width: 100%; float: left; margin: 0 0 14px; }
#item-popup .right .links li { float: left; width: 100%; margin: 0 0 6px; }
#item-popup .right .links li a { color: #636363; font: 500 9.75pt Roboto; }
#item-popup .right .links li a:hover { text-decoration: none; }
#item-popup .right .links li.more a { text-transform: uppercase; color: #000000; }
#item-popup .right .sizes { width: 100%; float: left; margin: 10px 0 14px; }
#item-popup .right .sizes .data { float: left; margin: 0 0 15px; }
#item-popup .right .sizes .item { width: 24px; float: left; margin: 0 12px 0 0; }
#item-popup .right .sizes .item a { display: block; width: 24px; text-decoration: none; text-align: center; background: #dedede; color: #000000; font: 700 11.25pt Roboto; height: 24px; line-height: 24px; }
#item-popup .right .sizes .item a:hover, #item-popup .right .sizes .item.active a { background: #505050; color: #ffffff; }
#item-popup .right .sizes .item .counter { float: left; margin: 16px 0 0 0; }
#item-popup .right .sizes .item .counter span { width: 24px; height: 5px; float: left; background: url(../img/sizes-cl.png) no-repeat center 0; cursor: pointer; }
#item-popup .right .sizes .item .counter span.down { background-position: center -5px; }
#item-popup .right .sizes .item .counter span:hover { opacity: 0.5; }
#item-popup .right .sizes .item .counter input { width: 22px; height: 15px; border: 1px solid #cccccc; text-align: center; font: 400 9.75pt Roboto; margin: 4px 0; }
#item-popup .right .sizes .item.active .counter input { border-color: #7f7f7f; }
#item-popup .right .sizes .btn { margin: 40px 0 0 0; float: right; width: 140px; height: 36px; display: block; background: url(../img/add-to-cart.png) no-repeat 0 0; }
#item-popup .right .sizes .btn:hover { background-position: 0 -36px; }
#item-popup .right .sizes .btn:active { background-position: 0 -72px; }
#item-popup .right .sizes .know { float: left; font: 400 10.5pt Tahoma; color: #000000; text-decoration: none; border-bottom: 1px dotted #000000; }
#item-popup .right .sizes .know:hover { border: none; padding: 0 0 1px; }



















