<!DOCTYPE html>
<html>
  <head>
    <title>index</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body>

    <section class="top-line">
      <div class="block">
        <ul class="login-ul">
          <li><a href="#" class="login">Вход</a></li>
          <li>|</li>
          <li><a href="#">Регистрация</a></li>
        </ul>

        <ul>
          <li><a href="#" class="active">USD</a></li>
          <li>|</li>
          <li><a href="#">UAH</a></li>
          <li>|</li>
          <li><a href="#">RUR</a></li>
        </ul>

        <ul>
          <li><a href="#" class="active">Ru</a></li>
          <li>|</li>
          <li><a href="#">En</a></li>
        </ul>
      </div>
    </section>

    <header>
      <div class="block">
        <div class="logo-box">
          <a href="#" class="logo"></a>
        </div>

        <div class="search-box">
          <div class="search">
            <a href="#" class="clean"></a>
            <input type="text" value="Искать среди 5000 товаров в каталоге">
            <button></button>
          </div>
        </div>

        <div class="phones-box">
          <div class="phones">0 800 123 &bull; 45 &bull; 67<br>+38 063 400 &bull; 30 &bull; 20</div>
        </div>

        <div class="cart-box">
          <div class="cart">
            <a href="#">Моя Корзина</a><br>

            <p>150 товаров | 500 USD</p>
          </div>
        </div>
      </div>
    </header>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="top-menu">
      <div class="block">
        <ul>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Как заказать</a></li>
          <li><a href="#">Скачать</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="top-slider">
      <div class="block">
        <div class="slider" id="top-slider">
          <ul class="slides">
            <li>
              <div class="item">
                <div class="t" style="top: 60px; font: 100 45pt Roboto; line-height: 45pt; text-transform: uppercase; text-align: right;">Новый<br>ассортимент<br>платьев</div>
                <div class="t" style="top: 250px; font: 700 22.5pt Roboto; line-height: 54pt; text-transform: uppercase; text-align: right;">от 150 грн</div>
                <a href="#" class="btn">Узнать больше</a>
                <img src="img/top-slider/i1.png" alt=""/>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="t" style="top: 60px; font: 100 45pt Roboto; line-height: 45pt; text-transform: uppercase; text-align: right;">Новый<br>ассортимент<br>платьев</div>
                <div class="t" style="top: 250px; font: 700 22.5pt Roboto; line-height: 54pt; text-transform: uppercase; text-align: right;">от 150 грн</div>
                <a href="#" class="btn">Узнать больше</a>
                <img src="img/top-slider/i2.png" alt=""/>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="t" style="top: 60px; font: 100 45pt Roboto; line-height: 45pt; text-transform: uppercase; text-align: right;">Новый<br>ассортимент<br>платьев</div>
                <div class="t" style="top: 250px; font: 700 22.5pt Roboto; line-height: 54pt; text-transform: uppercase; text-align: right;">от 150 грн</div>
                <a href="#" class="btn">Узнать больше</a>
                <img src="img/top-slider/i3.png" alt=""/>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="info-items">
      <div class="block">
        <div class="item item1">
          <div class="t1">Для минимального заказа</div>
          <div class="t2">По оптовым ценам</div>
          <div class="t3">купите любые <span>3</span> единицы товара</div>

          <div class="more">
            <a href="#">Узнать больше</a>
          </div>
        </div>
        <div class="item item2">
          <div class="t1">Доставка</div>
          <div class="t2">По России, Казахстану<br>и Беларуси</div>
          <div class="t3"><span>5-7</span> дней</div>

          <div class="more">
            <a href="#">Узнать больше</a>
          </div>
        </div>
        <div class="item item3">
          <div class="t1">Присоединяйтесь</div>
          <div class="t2">к нашим группам</div>
          <div class="soc">
            <a href="#" class="vk"></a>
            <a href="#" class="fb"></a>
          </div>

          <div class="more">
            <a href="#">Узнать больше</a>
          </div>
        </div>
      </div>
    </section>

    <section class="new-items">
      <div class="block">
        <div class="head">Новые поступления</div>
        <div class="slider" id="new-slider">
          <ul class="slides">
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="block">
        <div class="head">НЕ ПРОПУСТИте АКЦИИ, НОВИНКИ И СПЕЦПРЕДЛОЖЕНИЯ!</div>
        <div class="text">Подпишитесь, чтобы первыми<br>узнавать о новинках и акциях.</div>
        <div class="item">
          <input type="text" name="" value="" placeholder="Имя"/>
        </div>
        <div class="item">
          <input type="text" name="" value="" placeholder="Email"/>
        </div>

        <button>Подписаться</button>
      </div>
    </section>

    <section class="popular-items">
      <div class="block">
        <div class="head">пОПУЛЯРНЫЕ ТОВАРЫ</div>
        <div class="slider" id="popular-slider">
          <ul class="slides">
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                <a href="#">Костюм деловой цвета морской волны</a>

                <div class="price">1423 $</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="bottom-action">
      <div class="block">
        <div class="t1">ПАРТНЕРСКАЯ ПРОГРАММА №1</div>
        <div class="t2">ПОЛУЧИ ГОТОВЫЙ БИЗНЕС ЗА <span>5000</span> РУБЛЕЙ В ГОД</div>
        <div class="t3">Зарабатывайте с нами!</div>
        <a href="#" class="btn">Узнать больше</a>
      </div>
    </section>

    <section class="links-box">
      <div class="block">
        <div class="links">
          <div class="head">Сервис и помощь</div>
          <div class="clear"></div>
          <ul>
            <li><a href="#">Войти</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Как заказать</a></li>
            <li><a href="#">Возврат</a></li>
            <li><a href="#">Часто задаваемые вопросы</a></li>
          </ul>
        </div>

        <div class="links">
          <div class="head">О компании</div>
          <div class="clear"></div>
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Партнерам</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Наши скидки</a></li>
          </ul>
        </div>

        <div class="contacts">
          <div class="head">Контакты</div>
          <div class="clear"></div>
          <div class="phones">0 800 123-45-67<br>+38 063 400-30-20</div>
          <div class="clear"></div>
          <div class="email"><a href="#">info@project.com.ua</a></div>
          <div class="clear"></div>
          <a href="#" class="all">Все контакты</a>
        </div>

        <div class="group">
          <div class="head">Присоединяйтесь в соцсетях:</div>
          <div class="vk">
            <img src="img/join.png" alt=""/>
          </div>
        </div>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="partners">
      <div class="head">мы принимаем К оплате :</div>

      <div class="items">
        <img src="img/partners.png" alt=""/>
      </div>
    </section>

    <section class="section-hr gray">
      <div class="block"></div>
    </section>
    <footer>
      <div class="block">
        &copy; project 2014
      </div>
    </footer>

    <!--  SCRIPTS  -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.nouislider.js"></script>
    <script src="js/jquery.liblink.js"></script>
    <script src="js/jquery.selecter.js"></script>
    <script src="js/init.js"></script>

    <script>
      $(document).ready(function () {
        $("#top-slider").flexslider({
          animation: 'slide',
          directionNav: false
        });
        $("#new-slider").flexslider({
          animation: 'slide',
          controlNav: false,
          itemWidth: 169,
          minItems: 5,
          maxItems: 5
        });
        $("#popular-slider").flexslider({
          animation: 'slide',
          controlNav: false,
          itemWidth: 169,
          minItems: 5,
          maxItems: 5
        });
        $("#filter-slider").noUiSlider({
          start: [ 200, 2500 ],
          range: {
            min: [ 200 ],
            max: [ 4000 ]
          },
          step: 1
        }).noUiSlider_pips({
          mode: 'values',
          values: [200, 1000, 2000, 3000, 4000],
          density: 4,
          stepped: true
        }).Link('lower').to($('#from')).Link('upper').to($('#to'));


      });
    </script>
  </body>
</html>