<!DOCTYPE html>
<html>
  <head>
    <title>index</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="popup" id="item-popup">
      <div class="left">
        <a href="img/popup-img.png" data-lightbox="zoom" class="zoom"></a>
        <img src="img/popup-img.png" alt=""/>
      </div>
      <div class="right">
        <div class="head">Блузка цветная молодежная</div>

        <div class="info">
          <div class="i1">
            <span>Артикул:</span> 126342<br>
            <span>Цвет:</span> Полосатый
          </div>

          <div class="price"><span>582</span> грн</div>
        </div>

        <div class="row">
          <div class="head">Выберите цвет:</div>

          <img src="img/prods/q1-small.png" class="active" alt=""/>
          <img src="img/prods/q1-small.png" alt=""/>
          <img src="img/prods/q1-small.png" alt=""/>
        </div>

        <div class="sizes">
          <div class="head">Выберите размер:</div>
          <div class="data">
            <div class="item active">
              <a href="#">S</a>

              <div class="counter">
                <span class="up"></span>
                <input type="text" value="1">
                <span class="down"></span>
              </div>
            </div>
            <div class="item">
              <a href="#">M</a>

              <div class="counter">
                <span class="up"></span>
                <input type="text" value="1">
                <span class="down"></span>
              </div>
            </div>
            <div class="item">
              <a href="#">L</a>

              <div class="counter">
                <span class="up"></span>
                <input type="text" value="1">
                <span class="down"></span>
              </div>
            </div>
          </div>
          <a href="#" class="btn"></a>

          <div class="clear"></div>
          <a href="#" class="know">Определить размер</a>
        </div>

        <div class="row big">
          <div class="head">Другие фотографии:</div>

          <img src="img/prods/q2-small.png" class="active" alt=""/>
          <img src="img/prods/q2-small.png" alt=""/>
          <img src="img/prods/q2-small.png" alt=""/>
        </div>

        <div class="links">
          <ul>
            <li><a href="#">Быстрая доставка</a></li>
            <li><a href="#">Удобная оплата</a></li>
            <li><a href="#">Обмен и возврат товара</a></li>
            <li class="more"><a href="#">Подробнее о товаре</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="top-line">
      <div class="block">
        <ul class="login-ul">
          <li><a href="#" class="login">Вход</a></li>
          <li>|</li>
          <li><a href="#">Регистрация</a></li>
        </ul>

        <ul>
          <li><a href="#" class="active">USD</a></li>
          <li>|</li>
          <li><a href="#">UAH</a></li>
          <li>|</li>
          <li><a href="#">RUR</a></li>
        </ul>

        <ul>
          <li><a href="#" class="active">Ru</a></li>
          <li>|</li>
          <li><a href="#">En</a></li>
        </ul>
      </div>
    </section>

    <header>
      <div class="block">
        <div class="logo-box">
          <a href="#" class="logo"></a>
        </div>

        <div class="search-box">
          <div class="search">
            <a href="#" class="clean"></a>
            <input type="text" value="Искать среди 5000 товаров в каталоге">
            <button></button>
          </div>
        </div>

        <div class="phones-box">
          <div class="phones">0 800 123 &bull; 45 &bull; 67<br>+38 063 400 &bull; 30 &bull; 20</div>
        </div>

        <div class="cart-box">
          <div class="cart">
            <a href="#">Моя Корзина</a><br>

            <p>150 товаров | 500 USD</p>
          </div>
        </div>
      </div>
    </header>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="top-menu">
      <div class="block">
        <ul>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Как заказать</a></li>
          <li><a href="#">Скачать</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="content">
      <div class="block">
        <aside class="leftSide">
          <ul class="items">
            <li class="active">
              <a href="#">Женская одежда</a>

              <div class="clear"></div>
              <ul>
                <li><a href="#">Женские колготки, чулки</a></li>
                <li><a href="#">Блузки</a></li>
                <li><a href="#">Свитера</a></li>
                <li><a href="#">Пиджаки</a></li>
                <li><a href="#">Костюмы деловые</a></li>
                <li><a href="#">Обувь</a></li>
                <li><a href="#">Юбки</a></li>
                <li><a href="#">Туники</a></li>
                <li class="active"><a href="#">Платья</a></li>
                
                <li><a href="#">Носки</a></li>
                
                <li><a href="#">Трусы</a></li>
                <li><a href="#">Шортики</a></li>
                
                <li><a href="#">Шарфы и платки</a></li>
                <li><a href="#">Косынки</a></li>
                
                <li><a href="#">Ремни</a></li>
                
                <li><a href="#">Аксессуары</a></li>
                
                <li><a href="#">Обувь</a></li>
                
                <li><a href="#">СумкиПальтоПлащи</a></li>
                <li><a href="#">Куртки</a></li>
                <li><a href="#">Сарафаны</a></li>
                <li><a href="#">Перчатки</a></li>
                <li><a href="#">Бриджи</a></li>
                <li><a href="#">Пеньюары и пижамки</a></li>
              </ul>
            </li>
            <li><a href="#">Мужская одежда</a></li>
            <li><a href="#">Детская одежда</a></li>
            <li><a href="#">Большие размеры</a></li>
          </ul>


        </aside>

        <aside class="rightSide">

          <div class="pay-text">
            <div class="links">
              <a href="#" class="l le"><span>Информация о заказах по Украине</span></a>

              <div class="l ri active">Информация о заказах по России и СНГ</div>
            </div>

            <div class="sub-head">Доставка и оплата</div>

            <ol class="accordion">
              <li>
                <a href="#" class="name"><span>Каков размер минимального заказа?</span></a>

                <div class="text">
                  <p>Минимальный заказ для России - 10 любых единиц товара. В одном заказе вы можете купить и сумки и одежду.</p>
                </div>
              </li>
              <li>
                <a href="#" class="name"><span>Как оплатить заказ?</span></a>

                <div class="text">
                  <p>Минимальный заказ для России - 10 любых единиц товара. В одном заказе вы можете купить и сумки и одежду.</p>
                </div>
              </li>
              <li>
                <a href="#" class="name"><span>Как сообщить об оплате?</span></a>

                <div class="text">
                  <p>Минимальный заказ для России - 10 любых единиц товара. В одном заказе вы можете купить и сумки и одежду.</p>
                </div>
              </li>
              <li>
                <a href="#" class="name"><span>Сколько времени занимает обработка заказа?</span></a>

                <div class="text">
                  <p>Минимальный заказ для России - 10 любых единиц товара. В одном заказе вы можете купить и сумки и одежду.</p>
                </div>
              </li>
              <li>
                <a href="#" class="name"><span>Доступные виды доставок</span></a>

                <div class="text">
                  <p>Минимальный заказ для России - 10 любых единиц товара. В одном заказе вы можете купить и сумки и одежду.</p>
                </div>
              </li>
              <li>
                <a href="#" class="name"><span>Обмен, возврат. Какие условия?</span></a>

                <div class="text">
                  <p>Минимальный заказ для России - 10 любых единиц товара. В одном заказе вы можете купить и сумки и одежду.</p>
                </div>
              </li>
            </ol>

            <div class="sub-sub-head">Заказ и оплата товара</div>

            <ul>
              <li>Минимальный заказ для России - 10 <strong>любых</strong> единиц товара. В одном заказе вы можете купить и сумки и одежду.</li>

              <li>Вы можете оплатить заказ моментально на сайте, при помощи: Единого кошелька, Карт Виза/Мастеркард, Маэстро, Альфа-клик, терминалов. Подробней о способах оплаты можно прочитать
                перейдя по <a href="#">ссылке</a>.
              </li>

              <li><strong>Прием заказов: - Пн. Вт. Ср. Чт. Пт. Сб. Воскресенье - выходной</strong></li>
            </ul>

            <hr>

            <div class="sub-sub-head">Обработка и отправка заказа</div>

            <ul>
              <li><strong>Мы начинаем собирать заказ сразу после поступления денег на счет.<br>
                Сборка занимает от 1 до 6 рабочих дней.</strong><br>
                (при отсутствии товара на складе - до 10 дней)<br>
                Обработка Вашего заказа начинается сразу после получения сообщения от Вас об оплате.<br>
                Отправок день-в-день -— нет.
              </li>
            </ul>

            <p class="time"> Отправки мы производим вечером, после <strong>18:00</strong></p>

            <p class="calender">Дни отправки Ваших заказов: <strong>Пн. Вт. Ср. Чт. Сб.</strong><br>
              В пятницу и воскресенье отправок нет.</p>

            <hr>

            <div class="sub-sub-head">Доставка</div>

            <p class="sp">Для расчета примерной стоимости доставки используйте усредненный вес одной вещи равный 0,5 кг.</p>

            <ul>
              <li><strong>Экспресс-доставка</strong> — самый быстрый и надежный способ доставки.<br>
                Доставка ло ТК в России составляет 1.25$ за единицу.<br>
                <strong>При получении вы оплачиваете только тариф ТК за доставку*</strong><br>
                Кроме 'Почты России' и "КурьерСервисЭкспресс’, оплачивается вместе с заказом и стоимостью экспресс доставки, при<br>
                получении Вы ничего не платите.<br>
                Доставку по России в ближайшее отделение перевозчика в Вашем городе осуществляют компании:<br>
                Пэк, ЖелДор, БайкалСервис. Деловые линии, КурьерСервисЭкспресс (адреснаядоставка) и Почта России.<br>
                Информация о компаниях перевозчиках в России:<br>
                «ПЭК» - сроки и стоимость доставки указаны на сайте 6«ррecom.ru «ЖелДорЭкспедиция» - сроки и стоимость доставки указаны на сайте <a
                        href="#"><strong>http://www.pecom.ru</strong></a><br>
                «Деловые Линии» - данная транспортная компания требует указывать паспортные данные получателя. Сроки и стоимость доставки указаны на сайте <a
                        href="#"><strong>http://www.dellin.ru/</strong></a><br>
                «Байкал-Сервис» - сроки и стоимость доставки указаны на сайте <a href="#"><strong>http://www.baikalsr.ru/</strong></a><br>
                «КурьерСервисЭкспресс» - сроки и стоимость доставки указаны на сайте <a href="#"><strong>http://www.cse.ru/lang-rus/</strong></a><br>
                «Почта России» - сроки доставки указаны на сайте <a href="#"><strong>http://www.russianpost.ru</strong></a><br><br>

                С момента отправки заказа, с нашего склада до прибытия в терминал транспортной компании в России, как правило, <strong>проходит 3-4 дня.</strong><br>
                Номер трека Вы получите после получения груза транспортной компанией в России.
              </li>

              <li>
                <strong>Доставка поездом</strong> - Срок доставки зависит от расписания поездов.<br>
                Стоимость 2,5-3$ за 1 единицу товара. Оплата за доставку при получении.<br><br>

                <p class="sp">Стоимость доставки 10 вещей составит 25-30$, в зависимости от направления.</p>
                Проверить наличие поезда в Ваш город можно <a href="#"><strong>http://www.uz.gov.ua/passangers/timetables</strong></a>
              </li>

              <li>
                <strong>«DIMEX»</strong> - Быстрый и надежный перевозчик, посылки гарантированно проходят таможню.
                Стоимость перевозки зависит от Вашего местоположения, так называемой геозоны. Расчитывается нашими менеджерами вручную

                <p class="sp">Примерная стоимость перевозки 10 вещей будет составлять 50-90$</p>
              </li>

              <li>
                <strong>Доставка «УкрПочтой»<br>
                  Мы не доставляем «УкрПочтой» в Белоруссию.</strong><br>
                Стоимость за первый кг 22 доллара за последующие 2 доллара.<br>
                Медленный вид доставки. Посылки идут минимум 2-3 недели.<br><br>

                <p class="sp">Стоимость доставки 10 вещей по России составляете среднем 32$, в зависимости от расстояния.</p>

                Максимальный вес посылки составляет 20 кг.<br>
                Общая стоимость посылки не должна превышать 200$ в обязательной таможенной накладной, которую мы вкладываем в посылку для проверки на границе.<br>
                В связи с этим старайтесь разбивать большие заказы на несколько посылок.
              </li>

              <li>
                <strong>Доставка ЕМС</strong> - Срок доставки 5-14 дней.<br>
                Стоимость 40 долларов за первый кг., и 6 долларов за каждый последующий кг.<br>
                Также к стоимости доставки EMS будет прибавлена сумма в 3 доллара за упаковку каждой посылки.<br><br>

                <p class="sp">Стоимость доставки 10 вещей по России составляете среднем 84$ в зависимости от расстояния.</p>

                Максимальный вес посылки - 30 кг. Общая стоимость посылки ЕМС, не должна превышать 300 евро<br>
                в обязательной таможенной накладной, которую мы вкладываем в посылку для проверки на границе. В связи с этим старайтесь разбивать большие заказы на несколько посылок.

              </li>
            </ul>

            <hr>

            <div class="sub-sub-head">Обмен и возврат товара</div>

            <ul>
              <li>
                Обмен товара производится только в случае производственного брака или пересорта.<br><br>

                Если при получении заказа Вы обнаружили брак, или ошибку наших упаковщиков (это бывает крайне редко, но за это мы несем полную ответственность), Вы можете обменять товар за счет нашей
                компании в течение 14-ти дней с момента получения заказа. (номер ттн должен быть прислан нам в указанный ранее срок)<br><br>

                <strong>Внимание! В случае брака обмен производится только на идентичную модель.</strong><br><br>

                Что в этом случае нужно делать:<br>
                <span class="red">1.</span> Написать нам письмо на e-mail: <a href="#"><strong>123@project.com</strong></a> с номером заказа и артикулом, к письму <strong>обязательно</strong> приложить <strong>фото</strong> брака<br><br>

                <span class="red">2.</span> Отправить брак в течении 14-ти дней с момента получения заказа, в посылке в обязательном порядке должна присутствовать записка с указанием причины возврата, прислать Номер ТТН<br>
                на e-mail: <a href="#"><strong>123@project.com</strong></a> или продиктовать номер ТТН по тел.<br>
                Телефоны:<br>
                +380 (63) 589-69-66<br>
                +380 (99) 558-66-22<br><br>

                <span class="red">3.</span> Обмен производится, только при наличии <strong>фото</strong> брака, только после получения вашей посылки<br>
                в течении 14-ти дней.<br><br>

                <strong>Внимание: Ношеные, стираные, ошибочно Вами заказанные вещи обмену и возврату<br>
                не подлежат!</strong>
              </li>
            </ul>

            <div class="sub-sub-head size">Размерная сетка</div>

            <div class="sizes">
            <table border="1">
              <tr>
                <td>Международный</td>
                <td>Евро размер</td>
                <td>Российский</td>
                <td>Объем груди</td>
                <td>Объем бедер</td>
                <td>Объем талии</td>
              </tr>
              <tr>
                <td>S</td>
                <td>36</td>
                <td>42</td>
                <td>80-90</td>
                <td>80-90</td>
                <td>до 66</td>
              </tr>
              <tr>
                <td>M</td>
                <td>38</td>
                <td>44</td>
                <td>91-95</td>
                <td>91-96</td>
                <td>до 70</td>
              </tr>
              <tr>
                <td>L</td>
                <td>40</td>
                <td>46</td>
                <td>96-100</td>
                <td>97-104</td>
                <td>до 76</td>
              </tr>
              <tr>
                <td>XL</td>
                <td>—</td>
                <td>48</td>
                <td>102</td>
                <td>106</td>
                <td>78</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td>—</td>
                <td>50</td>
                <td>104</td>
                <td>106-108</td>
                <td>82</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td>—</td>
                <td>52</td>
                <td>106</td>
                <td>109-112</td>
                <td>86</td>
              </tr>
            </table>
            </div>
          </div>


        </aside>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="links-box">
      <div class="block">
        <div class="links">
          <div class="head">Сервис и помощь</div>
          <div class="clear"></div>
          <ul>
            <li><a href="#">Войти</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Как заказать</a></li>
            <li><a href="#">Возврат</a></li>
            <li><a href="#">Часто задаваемые вопросы</a></li>
          </ul>
        </div>

        <div class="links">
          <div class="head">О компании</div>
          <div class="clear"></div>
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Партнерам</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Наши скидки</a></li>
          </ul>
        </div>

        <div class="contacts">
          <div class="head">Контакты</div>
          <div class="clear"></div>
          <div class="phones">0 800 123-45-67<br>+38 063 400-30-20</div>
          <div class="clear"></div>
          <div class="email"><a href="#">info@project.com.ua</a></div>
          <div class="clear"></div>
          <a href="#" class="all">Все контакты</a>
        </div>

        <div class="group">
          <div class="head">Присоединяйтесь в соцсетях:</div>
          <div class="vk">
            <img src="img/join.png" alt=""/>
          </div>
        </div>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="partners">
      <div class="head">мы принимаем К оплате :</div>

      <div class="items">
        <img src="img/partners.png" alt=""/>
      </div>
    </section>

    <section class="section-hr gray">
      <div class="block"></div>
    </section>
    <footer>
      <div class="block">
        &copy; project 2014
      </div>
    </footer>

    <!--  SCRIPTS  -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.nouislider.js"></script>
    <script src="js/jquery.liblink.js"></script>
    <script src="js/jquery.selecter.js"></script>
    <script src="js/jquery.popups.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/init.js"></script>

    <script>
      $(document).ready(function () {
        $('.popups').magnificPopup({
          type: 'inline',
          preloader: false
        });
        $("#filter-slider").noUiSlider({
          start: [ 200, 2500 ],
          range: {
            min: [ 200 ],
            max: [ 4000 ]
          },
          step: 1
        }).noUiSlider_pips({
          mode: 'values',
          values: [200, 1000, 2000, 3000, 4000],
          density: 4,
          stepped: true
        }).Link('lower').to($('#from')).Link('upper').to($('#to'));


      });
    </script>
  </body>
</html>