<!DOCTYPE html>
<html>
  <head>
    <title>index</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="popup" id="item-popup">
      <div class="left">
        <img src="img/popup-img.png" alt=""/>
      </div>
      <div class="right">
        <div class="head">Блузка цветная молодежная</div>

        <div class="info">
          <div class="i1">
            <span>Артикул:</span> 126342<br>
            <span>Цвет:</span> Полосатый
          </div>

          <div class="price"><span>582</span> грн</div>
        </div>

        <div class="row">
          <div class="head">Выберите цвет:</div>

          <img src="img/prods/q1-small.png" class="active" alt=""/>
          <img src="img/prods/q1-small.png" alt=""/>
          <img src="img/prods/q1-small.png" alt=""/>
        </div>

        <div class="sizes">
          <div class="head">Выберите размер:</div>
          <div class="data">
            <div class="item active">
              <a href="#">S</a>

              <div class="counter">
                <span class="up"></span>
                <input type="text" value="1">
                <span class="down"></span>
              </div>
            </div>
            <div class="item">
              <a href="#">M</a>

              <div class="counter">
                <span class="up"></span>
                <input type="text" value="1">
                <span class="down"></span>
              </div>
            </div>
            <div class="item">
              <a href="#">L</a>

              <div class="counter">
                <span class="up"></span>
                <input type="text" value="1">
                <span class="down"></span>
              </div>
            </div>
          </div>
          <a href="#" class="btn"></a>

          <div class="clear"></div>
          <a href="#" class="know">Определить размер</a>
        </div>

        <div class="row big">
          <div class="head">Другие фотографии:</div>

          <img src="img/prods/q2-small.png" class="active" alt=""/>
          <img src="img/prods/q2-small.png" alt=""/>
          <img src="img/prods/q2-small.png" alt=""/>
        </div>

        <div class="links">
          <ul>
            <li><a href="#">Быстрая доставка</a></li>
            <li><a href="#">Удобная оплата</a></li>
            <li><a href="#">Обмен и возврат товара</a></li>
            <li class="more"><a href="#">Подробнее о товаре</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="top-line">
      <div class="block">
        <ul class="login-ul">
          <li><a href="#" class="login">Вход</a></li>
          <li>|</li>
          <li><a href="#">Регистрация</a></li>
        </ul>

        <ul>
          <li><a href="#" class="active">USD</a></li>
          <li>|</li>
          <li><a href="#">UAH</a></li>
          <li>|</li>
          <li><a href="#">RUR</a></li>
        </ul>

        <ul>
          <li><a href="#" class="active">Ru</a></li>
          <li>|</li>
          <li><a href="#">En</a></li>
        </ul>
      </div>
    </section>

    <header>
      <div class="block">
        <div class="logo-box">
          <a href="#" class="logo"></a>
        </div>

        <div class="search-box">
          <div class="search">
            <a href="#" class="clean"></a>
            <input type="text" value="Искать среди 5000 товаров в каталоге">
            <button></button>
          </div>
        </div>

        <div class="phones-box">
          <div class="phones">0 800 123 &bull; 45 &bull; 67<br>+38 063 400 &bull; 30 &bull; 20</div>
        </div>

        <div class="cart-box">
          <div class="cart">
            <a href="#">Моя Корзина</a><br>

            <p>150 товаров | 500 USD</p>
          </div>
        </div>
      </div>
    </header>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="top-menu">
      <div class="block">
        <ul>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Как заказать</a></li>
          <li><a href="#">Скачать</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="content">
      <div class="block">
        <aside class="leftSide">
          <ul class="items">
            <li class="active">
              <a href="#">Женская одежда</a>

              <div class="clear"></div>
              <ul>
                <li><a href="#">Женские колготки, чулки</a></li>
                <li><a href="#">Блузки</a></li>
                <li><a href="#">Свитера</a></li>
                <li><a href="#">Пиджаки</a></li>
                <li><a href="#">Костюмы деловые</a></li>
                <li><a href="#">Обувь</a></li>
                <li><a href="#">Юбки</a></li>
                <li><a href="#">Туники</a></li>
                <li class="active"><a href="#">Платья</a></li>
                
                <li><a href="#">Носки</a></li>
                
                <li><a href="#">Трусы</a></li>
                <li><a href="#">Шортики</a></li>
                
                <li><a href="#">Шарфы и платки</a></li>
                <li><a href="#">Косынки</a></li>
                
                <li><a href="#">Ремни</a></li>
                
                <li><a href="#">Аксессуары</a></li>
                
                <li><a href="#">Обувь</a></li>
                
                <li><a href="#">СумкиПальтоПлащи</a></li>
                <li><a href="#">Куртки</a></li>
                <li><a href="#">Сарафаны</a></li>
                <li><a href="#">Перчатки</a></li>
                <li><a href="#">Бриджи</a></li>
                <li><a href="#">Пеньюары и пижамки</a></li>
              </ul>
            </li>
            <li><a href="#">Мужская одежда</a></li>
            <li><a href="#">Детская одежда</a></li>
            <li><a href="#">Большие размеры</a></li>
          </ul>

          <div class="tabs">
            <div class="tabs-head">
              <a href="#tab1" class="vk active"></a>
              <a href="#tab2" class="ok"></a>
              <a href="#tab3" class="fb"></a>
            </div>
            <div class="tabs-content">
              <div class="tab tab1 active">
                <img src="img/fb.png" alt=""/>
              </div>
              <div class="tab tab2">
                <img src="img/fb.png" alt=""/>
              </div>
              <div class="tab tab3">
                <img src="img/fb.png" alt=""/>
              </div>
            </div>
          </div>
        </aside>

        <aside class="rightSide">
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Главная страница</a></li>
              <li>|</li>
              <li><a href="#">Каталог</a></li>
              <li>|</li>
              <li><a href="#">Женская одежда</a></li>
              <li>|</li>
              <li><a href="#">Блузки</a></li>
              <li>|</li>
              <li>Блузка полосатая молодежная дизайнерская</li>
            </ul>
          </div>

          <div class="prod-content">
            <div class="left">
              <div class="img">
                <a href="img/prods/w1.png" data-lightbox="zoom" class="zoom"></a>
                <img src="img/prods/w1.png" alt=""/>
              </div>
              <div class="imgs">
                <img src="img/prods/q2-small.png" class="active" alt=""/>
                <img src="img/prods/q2-small.png" alt=""/>
                <img src="img/prods/q2-small.png" alt=""/>
                <img src="img/prods/q2-small.png" alt=""/>
                <img src="img/prods/q2-small.png" alt=""/>
              </div>
              <div class="links">
                <ul>
                  <li><a href="#">Быстрая доставка</a></li>
                  <li><a href="#">Удобная оплата</a></li>
                  <li><a href="#">Обмен и возврат товара</a></li>
                </ul>
              </div>

              <div class="partner">
                <div class="t1">Партнерская<br>программа</div>
                <div class="t2">№1</div>
                <div class="clear"></div>
                <a href="#">Узнать больше</a>
              </div>
            </div>
            <div class="right">
              <div class="head">Блузка цветная молодежная</div>

              <div class="info">
                <div class="i1">
                  <span>Артикул:</span> 126342<br>
                  <span>Цвет:</span> Полосатый
                </div>

                <div class="price"><span>582</span> грн</div>
              </div>

              <div class="row">
                <div class="head">Выберите цвет:</div>

                <img src="img/prods/q1-small.png" class="active" alt=""/>
                <img src="img/prods/q1-small.png" alt=""/>
                <img src="img/prods/q1-small.png" alt=""/>
              </div>

              <div class="sizes">
                <div class="head">Выберите размер:</div>
                <div class="data">
                  <div class="item active">
                    <a href="#">S</a>

                    <div class="counter">
                      <span class="up"></span>
                      <input type="text" value="1">
                      <span class="down"></span>
                    </div>
                  </div>
                  <div class="item">
                    <a href="#">M</a>

                    <div class="counter">
                      <span class="up"></span>
                      <input type="text" value="1">
                      <span class="down"></span>
                    </div>
                  </div>
                  <div class="item">
                    <a href="#">L</a>

                    <div class="counter">
                      <span class="up"></span>
                      <input type="text" value="1">
                      <span class="down"></span>
                    </div>
                  </div>
                </div>
                <a href="#" class="btn"></a>

                <div class="clear"></div>
                <a href="#" class="know">Определить размер</a>
              </div>

              <div class="tabs">
                <div class="tabs-head">
                  <a href="#tab1" class="active">О товаре</a>
                  <a href="#tab2" class="">Оплата</a>
                  <a href="#tab3" class="">Доставка</a>
                  <a href="#tab4" class="">Вопросы</a>
                </div>
                <div class="tabs-content">
                  <div class="tab tab1 active">
                    <p>Классическая блузка с длинным рукавом. Выполнена из приятного эластичного материала. Рубашечный воротник. Линия пуговиц. Регулируемые манжеты рукавов. Слегка закругленный низ.
                      Длина от 66 см (разм. 38) до 72 см (разм. 50). Машинная стирка. 61% хлопок, 34% полиэстер, 5% эластан.</p>

                    <table class="table">
                      <tr>
                        <td>Материал</td>
                        <td>90% хлопок, 10% вискоза.</td>
                      </tr>
                      <tr>
                        <td>Тип застежек</td>
                        <td>Пуговицы</td>
                      </tr>
                      <tr>
                        <td>Длина</td>
                        <td>60 см.</td>
                      </tr>
                      <tr>
                        <td>Фасон</td>
                        <td>Свободный</td>
                      </tr>
                      <tr>
                        <td>Длина рукавов</td>
                        <td>60 см.</td>
                      </tr>
                    </table>
                  </div>
                  <div class="tab tab2">
                    <p>Классическая блузка с длинным рукавом. Выполнена из приятного эластичного материала. Рубашечный воротник. Линия пуговиц. Регулируемые манжеты рукавов. Слегка закругленный низ.
                      Длина от 66 с61% хлопок, 34% полиэстер, 5% эластан.</p>
                  </div>
                  <div class="tab tab3">
                    <p>Классическая блузка с длиннашинная стирка. 61% хлопок, 34% полиэстер, 5% эластан.</p>
                  </div>
                  <div class="tab tab4">
                    <p>Классическая блузка с длинным рукав38) до 72 см (разм. 50). Машинная стирка. 61% хлопок, 34% полиэстер, 5% эластан.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="buy-also">
            <div class="head">С этим товаром также покупают:</div>
            <div class="slider" id="buy-also">
              <ul class="slides">
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i1.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i2.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i3.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="img"><img src="img/prods/i4.png" alt=""/></div>
                    <a href="#">Костюм деловой цвета морской волны</a>

                    <div class="price">1423 $</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="comments">
            <div class="sub-title">С этим товаром также покупают:</div>

            <div class="item">
              <div class="name">Марта</div>
              <div class="date">30 марта 2014</div>
              <div class="text">Именно о такой кофте я и мечтала всю жизнь. Это то, что снилось мне долгими зимними ночами, а самое главное в ней то, что она идеально подходит к моей новой сковородке
                и набору освежителей воздуха.
              </div>
            </div>

            <div class="item">
              <div class="name">Марта</div>
              <div class="date">30 марта 2014</div>
              <div class="text">Именно о такой кофте я и мечтала всю жизнь. Это то, что снилось мне долгими зимними ночами, а самое главное в ней то, что она идеально подходит к моей новой сковородке
                и набору освежителей воздуха.
              </div>
            </div>

            <div class="clear"></div>
            <div class="t">Хотите поделиться<br>впечатлениями об этом товаре?</div>

            <a href="#" class="btn">Оставить отзыв</a>
          </div>

        </aside>
      </div>
    </section>

    <section class="subscribe">
      <div class="block">
        <div class="head">НЕ ПРОПУСТИте АКЦИИ, НОВИНКИ И СПЕЦПРЕДЛОЖЕНИЯ!</div>
        <div class="text">Подпишитесь, чтобы первыми<br>узнавать о новинках и акциях.</div>
        <div class="item">
          <input type="text" name="" value="" placeholder="Имя"/>
        </div>
        <div class="item">
          <input type="text" name="" value="" placeholder="Email"/>
        </div>

        <button>Подписаться</button>
      </div>
    </section>

    <section class="links-box">
      <div class="block">
        <div class="links">
          <div class="head">Сервис и помощь</div>
          <div class="clear"></div>
          <ul>
            <li><a href="#">Войти</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Как заказать</a></li>
            <li><a href="#">Возврат</a></li>
            <li><a href="#">Часто задаваемые вопросы</a></li>
          </ul>
        </div>

        <div class="links">
          <div class="head">О компании</div>
          <div class="clear"></div>
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Партнерам</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Наши скидки</a></li>
          </ul>
        </div>

        <div class="contacts">
          <div class="head">Контакты</div>
          <div class="clear"></div>
          <div class="phones">0 800 123-45-67<br>+38 063 400-30-20</div>
          <div class="clear"></div>
          <div class="email"><a href="#">info@project.com.ua</a></div>
          <div class="clear"></div>
          <a href="#" class="all">Все контакты</a>
        </div>

        <div class="group">
          <div class="head">Присоединяйтесь в соцсетях:</div>
          <div class="vk">
            <img src="img/join.png" alt=""/>
          </div>
        </div>
      </div>
    </section>

    <section class="section-hr">
      <div class="block"></div>
    </section>

    <section class="partners">
      <div class="head">мы принимаем К оплате :</div>

      <div class="items">
        <img src="img/partners.png" alt=""/>
      </div>
    </section>

    <section class="section-hr gray">
      <div class="block"></div>
    </section>
    <footer>
      <div class="block">
        &copy; project 2014
      </div>
    </footer>

    <!--  SCRIPTS  -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.nouislider.js"></script>
    <script src="js/jquery.liblink.js"></script>
    <script src="js/jquery.selecter.js"></script>
    <script src="js/jquery.popups.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/init.js"></script>

    <script>
      $(document).ready(function () {
        $('.popups').magnificPopup({
          type: 'inline',
          preloader: false
        });
        $("#buy-also").flexslider({
          animation: 'slide',
          controlNav: false,
          itemWidth: 126,
          minItems: 5,
          maxItems: 5
        });
        $("#filter-slider").noUiSlider({
          start: [ 200, 2500 ],
          range: {
            min: [ 200 ],
            max: [ 4000 ]
          },
          step: 1
        }).noUiSlider_pips({
          mode: 'values',
          values: [200, 1000, 2000, 3000, 4000],
          density: 4,
          stepped: true
        }).Link('lower').to($('#from')).Link('upper').to($('#to'));


      });
    </script>
  </body>
</html>